<html>
<head>
    <meta charset="utf-8">
    <title>Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .jumbotron {
            margin-top: 10px;
        }
    </style>
</head>
<div class="container">
    <% include ../partials/navbar %>
        <div class="jumbotron">
            <h1>Signup</h1>
        </div>
</div>
<body style="background-color:rgb(111, 217, 221)">
    <center>
<div class="container">
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="uname" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label>Age:</label>
            <input type="number" name="age" placeholder="Enter age">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="pass1" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" name="pass2" placeholder="Confirm password">
        </div>
        <button class='btn btn-default'>Signup</button>
    </form>
</div>
</center>
</body>
</html>