<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">        
</head>

<nav class="navbar navbar-dark">
    <div class="navbar-nav container">
        <h3>Angular and Node Events</h3>
    <div class="navbar-nav pull-right"><h4>
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/signup">Signup</a>
    </div></h4>
    </div>
</nav>
<hr>
</html>